@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400&family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding: 150px;
}

:root {
    --bgcolor: #1F1F1F;
    --forground-color: #f0efed;
    --secondary-color: #f3c782;
}

::-webkit-scrollbar{
    width: .5rem;
    position: absolute
}

::-webkit-scrollbar-track{
    background: var(--bgcolor);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 1rem;
    border: .1rem solid transparent;
    background-clip: content-box;
}

/**------------------------------------------------------------------------------preloader css------------------------------------------------------------- */

.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.bar {
    width: 105vw;
    height: 20vh;
    background-color: var(--bgcolor);
}

.counter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 200;
    color: var(--forground-color);
    font-family: 'League Gothic', sans-serif;
    padding: .2em .4em;
    font-size: 10vw;
}
/**------------------------------------------------------------------------------pageline css------------------------------------------------------------- */

.pageLineText {
    margin: 40px 0 20px 20px;
    color: var(--forground-color);
    font-family: League Gothic;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.page-line {
    width: 100%;
    height: 1px;
    background-color: var(--forground-color);
}

/**------------------------------------------------------------------------------sticky navber------------------------------------------------------------- */

.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 70px;
    background-color: var(--secondary-color);
    animation-name: nav-animation;
    animation-duration: .5s;
    /* animation-iteration-count: 2; */
}

@keyframes nav-animation {
    0% {
        transform: translateY(-80px);
    }

    100% {
        transform: translateY(0);
    }
}


.sticky .nav-right>ul>li>a:hover {
    color: #1F1F1F;
}


.stickyhero {
    margin-top: 80px;
}

/*!------------------------------------------------------------------------------navbar------------------------------------------------------------- */


nav {
    background-color: var(--bgcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 60px;
    box-shadow: 0 0 2rem 0 rgba(243, 200, 130, 0.1);
}

.nav-left a {
    z-index: 12;
}

.nav-right>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right a {
    text-transform: uppercase;
}

.nav-right>ul>li>a {
    padding: 0 20PX;
    color: var(--forground-color);
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
}

.nav-right>ul>li>a:hover {
    color: var(--secondary-color);
    transition: 0.5s;
}

.mobile-nav {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    font-size: 2rem;

}

.mobile-nav .close {
    display: none;
}


.allpages {
    background-color: var(--bgcolor);
}

/*!------------------------------------------------------------------------------all icon------------------------------------------------------------- */

.all-icon {
    position: absolute;
    right: 0.5%;
    display: inline-flex;
    flex-direction: column;
    z-index: 10;
}

.all-icon ul {
    display: flex;
    flex-direction: column;

}

.all-icon .icon {
    font-size: 30px;
    line-height: 50Px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.all-icon a {
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    background: var(--forground-color);
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.336);
}

.all-icon a::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    right: -90px;
    top: 0;
    transition: 0.5s;
}

.all-icon .fb::after {
    background: linear-gradient(-45deg, #17A9FD, #0165E1) !important;
}

.all-icon .ig::after {
    background: linear-gradient(-45deg, #405DE6, #F56040) !important;
}

.all-icon .yt::after {
    background: red !important;
}

.all-icon .ld::after {
    background: #0A66C2;
}


.all-icon a:hover::after {
    right: 0;
}

.all-icon a:hover .icon {
    color: var(--forground-color) !important;
}

/*!------------------------------------------------------------------------------page 1------------------------------------------------------------- */


#page1 {
    /* display: flex; */
    cursor: default;
    background-image: url(images/background.png);
    background-size: cover;
    /* user-select: none; */
}

.page1left {
    line-height: 14.5vw;
}

.page1left h2 {
    font-family: 'League Gothic', sans-serif;
    font-size: 19vw;
    text-transform: uppercase;
    color: var(--forground-color);
    font-weight: 400;
}



/*!------------------------------------------------------------------------------page 2------------------------------------------------------------- */

#page2 {
    display: flex;
    position: relative;
    /* padding-bottom: 30px; */
}

.page2left {
    line-height: 155px;
    /* 87.302% */
}

.page2left h2 {
    color: var(--forground-color);
    font-family: League Gothic;
    text-transform: uppercase;
    font-size: 189px;
    font-style: normal;
    font-weight: 400;
}

.page2right {
    position: absolute;
    bottom: 3%;
    right: 1%;
    width: 40%;
    height: 601px;
    /* flex-shrink: 0; */
}

.page2right p {
    color: var(--forground-color);
    text-align: right;
    font-family: Heebo;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*!------------------------------------------------------------------------------page 3------------------------------------------------------------- */


#page3 {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.page3left {
    line-height: 230px;
    margin-top: 320px;
}

.page3left h2 {
    color: #FEFDFB;
    font-family: League Gothic;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}


.page3right {
    width: 1596px;
    height: 854px;
    position: absolute;
    top: 20px;
    right: 0.5%;
}

.page3right p {
    color: var(--secondary-color);
    text-align: right;
    font-family: League Gothic;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 95px;
    text-transform: uppercase;
}

/*!------------------------------------------------------------------------------@media screen------------------------------------------------------------- */


@media all and (max-width: 500px) {
    .all-icon {
        right: 20%;
        /* left: 50%; */
    }

    .all-icon ul {
        display: flex;
        flex-direction: row
    }

    #page1 {
        height: 809px;
        /* margin-bottom: 30px; */
    }

    .page1left {
        line-height: 240px;
    }

    .page1left h2 {
        font-size: 145px;
    }

    #page2 {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .page2right {
        position: static;
        width: 100%;
        height: 100%;
    }

    .page2img {
        width: 100vw;
    }

    .page2right p {
        text-align: left;
    }
}

@media all and (max-width: 990px) {
    ::-webkit-scrollbar{
        width: 0;
    }
    html,
    body {
        overflow-x: hidden;
    }

    nav {
        position: relative;
    }

    .mobile-nav {
        display: block;
        z-index: 50;
    }

    .nav-right {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: var(--bgcolor);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 49;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .nav-right ul {
        flex-direction: column;
        gap: 40px;
    }

    .active .nav-right {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .open {
        display: none;
    }

    .active .close {
        display: block;
    }
}

@media all and (max-width: 1565px) {

    /* #page2 {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .page2right{
        position: static;
        width: 100%;
        height: 100%;
    } */
    .page2img {
        width: 80%;
    }
}

@media screen and (min-width: 2560px) {
    .bar {
        height: 20vh;
    }

    #page1 {
        height: 1145px;
        margin-bottom: 60px;
    }

    .page1left {
        line-height: 370px;
    }

    .page1left h2 {
        font-size: 470px;
    }

    .pageLineText {
        margin: 50px 0 20px 20px;
    }
}

;